*.o
*.a
*.so
*.out
*.dll
*.tmp
*.swp
.svn
*.bam
*.sam
*.gz
*.fq
*.fastq
*.fa
*.fasta
.cproject
.project
thirdparty/samtools/bcftools/bcftools
thirdparty/samtools/misc/ace2sam
thirdparty/samtools/misc/md5fa
thirdparty/samtools/misc/md5sum-lite
thirdparty/samtools/misc/seqtk
thirdparty/samtools/misc/wgsim
thirdparty/samtools/samtools
